<div class="navbar">
  <%= render "components/logo" %>
  <div class="menu">
    <%= link_to("Accueil", { url: "#" }, class: "btn-font") %>
    <%= link_to("Prise de RDV", { anchor: "section-opening-hours" }, class: "btn-font") %>
    <%= link_to("Nos prestations", { url: "#" }, class: "btn-font") %>
    <%= link_to("Nous trouver", { url: "#" }, class: "btn-font") %>
    <%= link_to("L'équipe", { anchor: "section-team" }, class: "btn-font") %>
  </div>
  <div class="burger-icon">
    <%= svg_tag "icons/burger.svg" %>
  </div>
</div>
