<div class="container">
  <a class="anchor" id="team"></a>
  <div class="section-title">
    <h2>L'équipe</h2>
    <%= svg_tag "icons/underline.svg" %>
  </div>
  <div class="team-flex">
    <%= cl_image_tag("wattivet/photo_groupe", class: "full-team-picture") %>
    <div class="team-avatars-flex">
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/philippe_face_new") %>
        <p>
          <strong>Philippe</strong>
          <br>
          Docteur vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/nina_face_new") %>
        <p>
          <strong>Nina</strong>
          <br>
          Docteur vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/margaux_face_new") %>
        <p>
          <strong>Margaux</strong>
          <br>
          Docteur vétérinaire
        </p>
      </div>

      <div class="team-avatar">
        <%= cl_image_tag("wattivet/marilou_face_new") %>
        <p>
          <strong>Marilou</strong>
          <br>
          Auxiliaire spécialisée vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/emeline_face_new") %>
        <p>
          <strong>Emeline</strong>
          <br>
          Auxiliaire spécialisée vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/lea_face_new") %>
        <p>
          <strong>Léa</strong>
          <br>
          Auxiliaire spécialisée vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/christine_face_new") %>
        <p>
          <strong>Christine</strong>
          <br>
          Technicienne de surfaces
        </p>
      </div>
    </div>
  </div>
</div>
