<div class="container">
  <a class="anchor" id="team"></a>
  <div class="section-title">
    <h2>L'équipe</h2>
    <%= svg_tag "icons/underline.svg" %>
  </div>
  <div class="team-flex">
    <%= cl_image_tag("wattivet/team_accueil_2", class: "full-team-picture") %>
    <div class="team-avatars-flex">
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/philippe_face-min") %>
        <p>
          <strong>Philippe Hocquet</strong>
          <br>
          Docteur vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/nina_profil-min") %>
        <p>
          <strong>Nina Carvalho Goncalves</strong>
          <br>
          Docteur vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/margaux_profil-min") %>
        <p>
          <strong>Margaux Bouchery</strong>
          <br>
          Docteur vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/lydie_profil") %>
        <p>
          <strong>Lydie</strong>
          <br>
          Auxiliaire spécialisée vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/marilou_face") %>
        <p>
          <strong>Marilou</strong>
          <br>
          Auxiliaire spécialisée vétérinaire
        </p>
      </div>
      <div class="team-avatar">
        <%= cl_image_tag("wattivet/christine_profil") %>
        <p>
          <strong>Christine</strong>
          <br>
          Technicienne de surfaces
        </p>
      </div>
    </div>
  </div>
</div>
