<%= render "components/navbar" %>
<%= render "components/banner" %>
<div id="section-opening-hours" class="section bg-primary-lightiest">
  <%= render "components/opening_hours" %>
</div>
<div id="section-activities" class="section">
  <%= render "components/activities" %>
</div>
<div id="section-find-us" class="section bg-primary-lightiest">
  <%= render "components/find_us" %>
</div>
<div id="section-team" class="section">
  <%= render "components/team" %>
</div>
