<%= render "components/navbar" %>
<%= render "components/banner" %>
<div class="section">
  <%= render "components/about_us" %>
</div>
<div class="section bg-primary-lightiest">
  <%= render "components/opening_hours" %>
</div>
<div class="section">
  <%= render "components/activities" %>
</div>
<div class="section bg-primary-lightiest">
  <%= render "components/find_us" %>
</div>
<div class="section">
  <%= render "components/team" %>
</div>
<%= render "components/footer" %>
